body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.body-content {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar{
    background-color: white;
}

.container {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Arial,sans-serif;
    float:left;
}

.container.body-content {
    margin-top: 200px;
    font-family: Arial,sans-serif;
    }

.tr {
    margin-top: 50px;
}

 .table>tbody>tr>th,
    .table>tbody>tr>td {
        border-top: 0;
        height:auto;
    }

.checkboxcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


.checkboxcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkboxcontainer input:checked ~ .checkmark {
    background-color: darkseagreen;
    letter-spacing:5px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    letter-spacing:10px;
}

.checkboxcontainer input:checked ~ .checkmark:after {
    display: block;
}

.checkboxcontainer .checkmark:after {
    
    content: "\f00c";
    color:white;
    text-shadow:1px 2px 1px #698766;
    font-family: 'fontawesome';
}

/*Login-side*/

footer {
    margin-top: 6%;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
   
}

.thlb{
    display:inline-block;
    white-space:nowrap;
}

.thlb span, .thlb input{
    display:inline-block;
}
:root {
    --info-color: #0099CC;
}

.btn-toggle-pass {
    border: none;
    position: absolute;
    top: 11px;
    background: transparent;
    right: 0;
}

    .btn-toggle-pass.active {
        color: var(--info-color);
    }

