body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10%;
    padding-right: 10%;
    
    
}

.navbar{
    background-color: white;
}

.container {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Arial,sans-serif;
    float:left;

}

    .container.body-content {
        margin-top: 200px;
        font-family: Arial,sans-serif;
    }

    tr .restr{
        height:70px;
        padding:8px;
    }


.tr {
    margin-top: 50px;
}

 .table>tbody>tr>th,
    .table>tbody>tr>td {
        border-top: 0;
        height:auto;
    }

/* Customize the label (the container) */
.checkboxcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .checkmark {
    background-color: darkseagreen;
    letter-spacing:5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    letter-spacing:10px;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .checkmark:after {
    content: "\f00c";
    color:white;
    text-shadow:1px 2px 1px #698766;
    
    
    font-family: 'fontawesome';
}

input[type=checkbox] + label:before {
    content: "\f096";
}
/* unchecked icon */
input[type=checkbox] + label:before {
    letter-spacing: 10px;
}
/* space between checkbox and label */

input[type=checkbox]:checked + label:before {
    content: "\f046";
}
/* checked icon */
input[type=checkbox]:checked + label:before {
    letter-spacing: 5px;
}
/* allow space for check mark */

.thlb {
display: inline-block;
white-space: nowrap;
}

.thlb span, .thlb input {
    display: inline-block;
}


button:hover {
    
}
/*
input.icon::-webkit-input-placeholder {
    font-family: 'FontAwesome';
}
    */
footer {
    margin-top: 6%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}
