
@{
    ViewBag.Title = "Bekrefte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="table table-hover">

        <h2>Her ser du informasjon om ditt valg</h2>
        <div>
              Strekning: 
        </div>
        <div>

            <button type="button" class="btn btn-success">Bekrefte</button>
            <button type="button" class="btn btn-danger">Avbryt</button>
        </div>
        <div>
            <p>Her ser bekreftelse på bestilling </p>
        </div>
    </div>



