

<h2>EndrePris</h2>



<h2>EndrePris</h2>
<form action="/Default/EndrePris" method="POST">
    <table>
        <tr>
            <td>
                <input type="text" placeholder="Endre studntpris" name="Studentpris" />

            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Endre voksenpris" name="voksenpris" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Endre barnpris" name="barnpris" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Endre pris" />
            <td>
        </tr>


    </table>

</form>


