@model GruppeInnlevering1.Models.Samle
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jsfil.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>




<h2>Hvor vil du reise?</h2>

<form action="/Default/result" name="" onchange="buttonChangeColor()" asp-controller="Default" asp-action="Index">
    <table class="table">
        <tr class="tr">
            <th>
                <script type="text/javascript">




                    $(function () {
                        $("#StasjonTil").change(function () {

                            if ($(this).val() == $("#st").val()) {
                                $("#feilMelding").html("<p>Du har valgt samme stasjon til og fra </p>");
                                $("#feilMelding").children("p").css("color", "red");
                            }
                            else {
                                $("#feilMelding").html("")
                            }





                        }
                        );





                        $("#st").change(function () {
                            var Geturl = "/Default/hentListe?id=" + $("#st").val();
                            $.getJSON(Geturl, function (Liste) {
                                utdata = "<option value='' disabled selected>Hvor skal du reise til</option>";
                                for (var k in Liste) {
                                    utdata += "<option value='" + Liste[k].StasjonId + "'>" + Liste[k].StasjonNavn + "</option>";
                                }
                                $("#StasjonTil").html(utdata);

                            })
                        })
                    });




                </script>

                 <select data-val="true" class="form-control" id="st" name="Fra" >
     <option value="" disabled selected>Hvor skal du reise fra</option>
        @foreach (var k in Model.fraListe)
        {
            <option value="@k.StasjonId">@k.StasjonNavn</option>
        }
    </select>
      
               

            </th>
            <th>
                <select  data-val="true" class="form-control" id="StasjonTil" name="Til">
                </select>

            </th>


        </tr>
        <tr>
            <th></th>
            <th id="feilMelding"></th>
        </tr>
        <tr>
            <td>
                <h1> Velge tid: </h1> <input type="time" name="tid " class="form-control">
            </td>
            <td>
                <h1> Velge Dato: </h1> <input type="date" name="dato" class="form-control">
            </td>
        </tr>
        <tr class="tr">
            <td>
                <h3> Type: </h3>
            </td>
            <th></th>


        </tr>

        <tr class="tr">
            <th name="type" value="Student">Student</th>
            <th> <input type="number" min="0" pattern="\d* " name="antall" value="0" class="form-control" required></th>
        </tr>
        <tr class="tr">
            <th name="type" value="Voksen">Voksen</th>
            <th> <input type="number" min="0" name="antall" value="0" class="form-control" required></th>

        </tr>
        <tr class="tr">
            <th name="type" value="">Barn</th>
            <th> <input type="number" min="0" name="antall" value="0" class="form-control" required></th>

        </tr>
    </table>
    <button type="submit" class="btn btn-group-justified" style="height:50px; font-size:large;">Se avganger</button>
</form>
