@model GruppeInnlevering1.Models.Samle
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jsfil.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" />




<h1 style="margin-bottom:40px;font-weight:700;">Hei, hvor vil du reise?</h1>

<form action="/Default/Result" onchange="buttonChangeColor()" method="post" style="width:100%;margin-bottom:10%;">
    @Html.AntiForgeryToken()                                                                          <!------- security feature to help protect your application against cross-site request forgery-------->
    <table class="table">
        <tr>
            <th>
                <script type="text/javascript">

                    $(function () {
                        $("#btnSubmit").attr("disabled", true);
                        $("#StasjonTil").change(function () {
                            if ($(this).val() == $("#st").val()) {
                                $("#feilMelding").html("<p>Du har valgt samme stasjon til og fra </p>");
                                $("#feilMelding").children("p").css("color", "red");
                            }
                            else {
                                $("#feilMelding").html("")
                            }
                        });
                        $("#st").change(function () {
                            var Geturl = "/Default/hentListe?stajonId=" + $("#st").val();
                            $.getJSON(Geturl, function (Liste) {
                                utdata = "<option value='fas fa-search' disabled selected>&nbsp;&nbsp;&#xf002;&nbsp;&nbsp;Hvor vil du dra?</option>";
                                for (var k in Liste) {
                                    utdata += "<option value='" + Liste[k].StasjonId + "'>&#xf238;&nbsp;&nbsp;&nbsp;&nbsp;" + Liste[k].StasjonNavn + "</option>";
                                }
                                $("#StasjonTil").html(utdata);
                                document.getElementById("rbtnEnVei").checked = true;

                            })
                        })

                        $(document).ready(function () {
                            $('input[type="radio"]').click(function () {
                                if ($(this).attr('id') == 'rbtnTurRetur') {
                                    $('#show-turRetur').show();
                                    $('#datoTilbake').required;
                                    $('#datoTilbake').attr('required', true);
                                    $('#tidTilbake').attr('required', true);

                                } else {
                                    $('#show-turRetur').hide();
                                }
                            });
                        });

                        document.getElementById("dagensDato").onchange = function () {
                            var minsteDatoTilbake = document.getElementById("datoTilbake");
                            minsteDatoTilbake.min = this.value;
                        }


                        $(function () {
                            var dtToday = new Date();
                            var month = dtToday.getMonth() + 1;
                            var day = dtToday.getDate();
                            var year = dtToday.getFullYear();
                            if (month < 10)
                                month = '0' + month.toString();
                            if (day < 10)
                                day = '0' + day.toString();
                            var minDate = year + '-' + month + '-' + day;
                            //alert(maxDate);
                            $('#dagensDato').attr('min', minDate);
                            $('#datoTilbake').attr('min', minDate);
                        });

                        $("#Student").click(function () {
                            if ($(this).prop("checked") == true) {
                                document.getElementById("StudentAntall").disabled = false;
                                document.getElementById("StudentAntall").value = 1;
                            }
                            else if ($(this).prop("checked") == false) {
                                document.getElementById("StudentAntall").disabled = true;
                                document.getElementById("StudentAntall").value = "";
                            }
                        })

                        $("#Voksen").click(function () {
                            if ($(this).prop("checked") == true) {
                                document.getElementById("VoksenAntall").disabled = false;
                                document.getElementById("VoksenAntall").value = 1;
                            } else if ($(this).prop("checked") == false) {
                                document.getElementById("VoksenAntall").disabled = true;
                                document.getElementById("VoksenAntall").value = "";
                            }
                        })

                        $("#Barn").click(function () {
                            if ($(this).prop("checked") == true) {
                                document.getElementById("BarnAntall").disabled = false;
                                document.getElementById("BarnAntall").value = 1;
                            }
                            else if ($(this).prop("checked") == false) {
                                document.getElementById("BarnAntall").disabled = true;
                                document.getElementById("BarnAntall").value = "";
                            }
                        })
                    });
                </script>
                <h4>Reise fra:</h4>
                <select data-val="true" class="form-control" id="st" name="Fra" style="font-family:'FontAwesome',sans-serif;height: 60px; width: 100%; border-bottom:3px solid black;">
                    <option value="fas fa-search" disabled selected>&nbsp;&nbsp;&#xf002;&nbsp;&nbsp;Hvor vil du reise fra</option>
                    @foreach (var k in Model.fraListe)
                    {
                        <option value="@k.StasjonId">&#xf238;&nbsp;&nbsp;&nbsp;&nbsp; @k.StasjonNavn</option>
                    }
                </select>
            </th>
            <th>
                <h4>Reise til:</h4>
                <select data-val="true" class="form-control" id="StasjonTil" name="Til" style="font-family:'FontAwesome',sans-serif;height: 60px; width: 100%; border-bottom:3px solid black;">
                </select>

            </th>
        </tr>

        <tr>
            <th></th>
            <th id="feilMelding"></th>
        </tr>

        <tr>
            <td style="margin-top:50px;margin-bottom:50px;">
                <!------------------------------------------------------------------------------------->
                <input type="radio" id="rbtnEnVei"
                       name="turChecked" value="enVei" class="radioBtn btn-group-lg" style="margin-right:6px;">
                <label style="padding-right:20px; font-size:larger; font-weight:100;" for="rbtnEnVei">En vei</label>
                <input type="radio" id="rbtnTurRetur"
                       name="turChecked" value="turRetur" class="radioBtn" style="margin-right:6px;">
                <label style="padding-right:20px; font-size:larger; font-weight:100;" for="rbtnTurRetur">Tur/Retur </label>
            </td>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                <h4> Utreise: </h4><input required type="date" name="dato" id="dagensDato" class="form-control" style="height: 60px; width: 100%; border-bottom:3px solid black;">
                <h4 style="margin-top:20px;"> Tid: </h4><input class="form-control" id="appt-time" required type="time" name="tid " step="2" style="height: 60px; width: 100%; border-bottom:3px solid black;">

            </td>

            <td id="show-turRetur" style="display:none;">
                <!------------------------------------------------------------------------------------->
                <h4>Retur: </h4> <input type="date" id="datoTilbake" name="datoTilbake" class="form-control" style="height: 60px; width: 100%; border-bottom:3px solid black;">
                <h4 style="margin-top:20px;">Tid: </h4> <input type="time" id="tidTilbake" step="2" name="tidTilbake" class="form-control" style="height: 60px; width: 100%; border-bottom:3px solid black;">

            </td>
        </tr>

        <tr>
            <td>
                <h4 style="margin-top:25px;"> Type: </h4>
            </td>
            <th></th>
        </tr>


        <tr>

            <th>
                <label class="checkboxcontainer">
                    <input type="checkbox" name="StudentType" value="Student" id="Student">Student
                    <span class="checkmark"></span>
                </label>
            </th>
            <th>
                <label class="thlb">
                    <input disabled id="StudentAntall" type="number" min="1" pattern="\d* " name="antall1" class="form-control" required style="height: 35px; width: 28%; border-bottom:3px solid black;margin-bottom:20px;">
                    <span style="font-family:'FontAwesome'">&#xf06a;</span>
                </label>
            </th>

        </tr>
        <tr>
            <th>
                <label class="checkboxcontainer">
                    <input type="checkbox" name="BarnType" value="Voksen" id="Voksen">Voksen
                    <span class="checkmark"></span>

                </label>
            </th>
            <th>
                <label class="thlb">
                    <input disabled id="VoksenAntall" type="number" min="1" name="antall2" class="form-control" required style="height: 35px; width: 28%; border-bottom:3px solid black;margin-bottom:20px;">
                    <span style="font-family:'FontAwesome'">&#xf06a;</span>
                </label>
            </th>


        </tr>
        <tr>
            <th>
                <label class="checkboxcontainer">
                    <input type="checkbox" name="VoksenType" value="Barn" id="Barn">Barn
                    <span class="checkmark"></span>
                </label>
            </th>
            <th>
                <label class="thlb">
                    <input disabled id="BarnAntall" type="number" min="1" name="antall3" class="form-control" required style="height: 35px; width: 28%; border-bottom:3px solid black;margin-bottom:20px;">
                    <span style="font-family:'FontAwesome'">&#xf06a;</span>
                </label>
            </th>

        </tr>
    </table>
    <button type="submit" class="btn btn-group-justified" style="height:50px; width:50%; margin-left:20%; margin-top:3%; color:white; background-color:#808080; display:block; font-size:large;" id="btnSubmit">Se avganger</button>
</form>
