
@{
    ViewBag.Title = "Index";
}

<h2>Hvor vil du reise?</h2>

<form action="" name="">
    <table class="table">
        <tr>
            <th>
                <input class="form-control"
                       id=""
                       name=""
                       type="text"
                       value="Fra" />
            </th>
            <th>
                <input type="search" value="Til"  class="form-control" />
            </th>
        </tr>
        <tr>
            <td>
                <h1> Velge tid: </h1> <input type="time" name="" class="form-control">
            </td>
            <td>
                <h1> Velge Dato: </h1> <input type="date" name="" class="form-control">
            </td>
        </tr>
        <tr>
            <th>Type</th>

        </tr>
        <tr>
            <th>Student</th>
            <th> <input type="number" pattern="\d* "name="" class="form-control"></th>
        </tr>
        <tr>
            <th>Voksen</th>
            <th> <input type="number" name="" class="form-control"></th>

        </tr>
        <tr>
            <th>Barn</th>
            <th> <input type="number" name="" class="form-control"></th>

        </tr>
    </table>


</form> 