@model GruppeInnlevering1.Models.Samle
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jsfil.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>




<h2>Hvor vil du reise?</h2>

<form action="/Default/Result" onchange="buttonChangeColor()" method="post">
    <table class="table">
        <tr class="tr">
            <th>
                <script type="text/javascript">




                    $(function () {
                       // $("#btnSubmit").attr("disabled", true);

                        $("#StasjonTil").change(function () {

                            if ($(this).val() == $("#st").val()) {
                                $("#feilMelding").html("<p>Du har valgt samme stasjon til og fra </p>");
                                $("#feilMelding").children("p").css("color", "red");
                            }
                            else {
                                $("#feilMelding").html("")
                            }

                        });





                        $("#st").change(function () {
                            var Geturl = "/Default/hentListe?id=" + $("#st").val();
                            $.getJSON(Geturl, function (Liste) {
                                utdata = "<option value='' disabled selected>Hvor skal du reise til</option>";
                                for (var k in Liste) {
                                    utdata += "<option value='" + Liste[k].StasjonId + "'>" + Liste[k].StasjonNavn + "</option>";
                                }
                                $("#StasjonTil").html(utdata);

                            })


                        })

                        $("#Student").click(function () {
                            
                            
                            if ($(this).prop("checked") == true) {
                                document.getElementById("StudentAntall").disabled = false;
                                document.getElementById("StudentAntall").value = 1;

                            }
                            else if ($(this).prop("checked") == false) {
                                document.getElementById("StudentAntall").disabled = true;
                                document.getElementById("StudentAntall").value = "";
                            }
                            
                        })

                             $("#Voksen").click(function () {
                            
                            
                                  if($(this).prop("checked") == true){
                                      document.getElementById("VoksenAntall").disabled = false;
                                       document.getElementById("VoksenAntall").value = 1;
                                  }else if ($(this).prop("checked") == false) {
                                      document.getElementById("VoksenAntall").disabled = true;
                                         document.getElementById("VoksenAntall").value = "";
                                  }

                             })



                             $("#Barn").click(function () {
                            
                            
                              if($(this).prop("checked") == true){
                                  document.getElementById("BarnAntall").disabled = false;
                                    document.getElementById("BarnAntall").value = 1;
                                 }
                                   else if ($(this).prop("checked") == false) {
                                  document.getElementById("BarnAntall").disabled = true;
                                   document.getElementById("BarnAntall").value = "";
                            }
                            
                            
                           } )









                    });




                </script>

                 <select data-val="true" class="form-control" id="st" name="Fra" >
     <option value="" disabled selected>Hvor skal du reise fra</option>
        @foreach (var k in Model.fraListe)
        {
            <option value="@k.StasjonId">@k.StasjonNavn</option>
        }
    </select>
      
               

            </th>
            <th>
                <select  data-val="true" class="form-control" id="StasjonTil" name="Til">
                </select>

            </th>


        </tr>
        <tr>
            <th></th>
            <th id="feilMelding"></th>
        </tr>
        <tr>
            <td>
                <h1> Velge tid: </h1><input  id="appt-time" type="time" name="tid " step="2" class="form-control">
            </td>
            <td>
                <h1> Velge Dato: </h1><input type="date" name="dato" class="form-control">
</td>
        </tr>
        <tr class="tr">
            <td>
                <h3> Type: </h3>
            </td>
            <th></th>


        </tr>

        <tr class="tr">
            <th> <input type="checkbox" name="StudentType" value="Student" id="Student">Student</th>
            <th> <input   disabled id="StudentAntall" type="number" min="1" pattern="\d* " name="antall1" class="form-control" required></th>
        </tr>
        <tr class="tr">
            <th > <input type="checkbox" name="BarnType" value="Voksen" id="Voksen">Voksen</th>
            <th> <input  disabled id="VoksenAntall" type="number" min="1" name="antall2"  class="form-control" required></th>

        </tr>
        <tr class="tr">
            <th> <input type="checkbox" name="VoksenType" value="Barn" id="Barn">Barn</th>
            <th> <input      disabled id="BarnAntall"type="number" min="1" name="antall3"  class="form-control" required></th>

        </tr>
    </table>
    <button type="submit" class="btn btn-group-justified" style="height:50px; font-size:large;" id="btnSubmit">Se avganger</button>
</form>
