
<h1>  Du er logget inn</h1>
<form action="/Default/Strekning" method="post">

    <table>
        <tr>
       
      
    <td>
            <input type="submit" value="¨Strekning" />
        </td>
            </tr>
    </table>
</form>


<form action="/Default/Stasjoner" method="post">

    <table>
        <tr>
            <td><input type="submit" value="¨Stasjoner" /></td>
        </tr>
    </table>
</form>




<form action="/Default/Billter" method="post">

    <table>
        <tr>
            <td><input type="submit" value="¨Billter" /></td>
        </tr>
    </table>
</form>


<form action="/Default/TogListe" method="post">

    <table>
        <tr>
            <td><input type="submit" value="¨TogListe" /></td>
        </tr>
    </table>
</form>



<form action="/Default/EndrePrisV" method="post">

    <table>
        <tr>
            <td><input type="submit" value="¨Endre priser" /></td>
        </tr>
    </table>
</form>








