
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    
    <div>
        <h1>Se Avganger</h1>
        <button type="button" class="btn btn-outline-secondary">Endre søket</button>
    </div>
    <div>

    </div>
    <div>
        <table  class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fra</th>
                    <th scope="col">Til</th>
                    <th scope="col">Tog</th>
                    <th scope="col">Pris</th>
                    <th scope="col"> </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >1</td>
                    <td>Drammen</td>
                    <td>Oslo</td>
                    <td>R12</td>
                    <td>350</td>
                    <td><button type="button" class="btn btn-info">Velg</button></td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>Drammen</td>
                    <td>Oslo</td>
                    <td>R12</td>
                    <td>350</td>
                    <td><button type="button" class="btn btn-info">Velg</button></td>
                </tr>
            </tbody>
        </table>
   
    </div>
</div>



