@model List<StasjonV>

@{
    ViewBag.Title = "Stasjoner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stasjoner</h2>
@if (ViewBag.leggStasjon == true)
{
    <p class="alert alert-success">du har lagt ny stasjon i databasen</p>
}

<p>
    <a href="/Default/nyStasjon" class="btn btn-primary">Ny stasjon</a>
</p>
<p>
    <a href="/Default/Login" class="btn btn-primary">Tilbake til Login</a>
</p>
<table class="table">
    <tr>

        <th>Stasjon Id</th>
        <th>Stasjon navn</th>
   
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               @item.StasjonId
            </td>
            <td>
             @item.StasjonNavn
            </td>

            <td><a href="/Default/EndreStasjon?id=@item.StasjonId" class="btn btn-primary">Endre</a></td>
            <td><a href="/Default/SlettStasjon?id=@item.StasjonId" class="btn btn-danger">Slett</a></td>

        </tr>
    }

</table>
