@model List<TogV>

@{
    ViewBag.Title = "TogListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TogListe</h2>

<p>
    <a href="/Default/nyTog" class="btn btn-primary">Ny tog</a>
</p>
<table class="table">
    <tr>
        <th>
            TogId
        </th>
        <th>
          TogNavn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TogId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TogNavn)
    </td>
    <td>

    <td><a href="/Default/EndreTog?id=@item.TogId" class="btn btn-primary">Endre</a></td>
    <td><a href="/Default/SlettTog?id=@item.TogId" class="btn btn-danger">Slett</a></td>
    </td>
</tr>
}

</table>
